.footer {
    background-color: var(--dark-grey);
    width: 100%;
}

.footer__logo {
    display: flex;
    align-items: center;
    color: var(--white-1);
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer__logo-text {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5px;
}

.footer__logo-color {
    color: var(--red-1);
    font-weight: 800;
}

.footer__nav {
    display: flex;
    padding-bottom: 40px;
}

.footer__nav-column {
    flex: 1;
}

.footer__nav-link {
    color: var(--white-1);
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__nav-link:hover {
    color: var(--red-1);
}

.footer__copyright-column {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer__copyright-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: var(--light-grey-4);

}