.header {
    background-image: url("../images/Image.jpg");
    color: var(--white-1);
    width: 100%;
    height: calc(100vh - (55px / 2));
    min-height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header::before {
    content: "";
    background-color: var(--black);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header__top {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 90px;
    border-bottom: 2px solid var(--white-3);
    background-color: var(--light-grey-1);
}

.header__top .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-flex;
    align-items: center;
}

.header__logo-text {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.header__logo-color {
    color: var(--red-1);
    font-weight: 800;
}

.header__nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list-item {
    color: var(--white-1);
    text-decoration: none;
    padding: 35px 40px;
}

.header__nav-list-item:hover {
    background-color: var(--white-3);
}

.header__text .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__text {
    position: relative;
    flex: 1;
    display: flex;
}

.header__title {
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-1);
    padding: 15px 0;
    text-align: center;
    text-shadow: 0 3px 6px var(--light-grey-3);
}

.header__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-1);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
}

.header__link a {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 54px;
    border-radius: 40px;
    display: inline-block;
}

.btn-big-red {
    background-color: var(--red-1);
    color: var(--white-1);
    box-shadow: 0 3px 6px var(--red-2);
}

.btn-big-white {
    background-color: var(--white-1);
    color: var(--red-1);
    margin-left: 25px;
}

.header__arrow {
    position: absolute;
    background-color: var(--red-1);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    cursor: pointer;
}
