* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white-1: #FFFFFF;
    --white-2: #FFFFFF29;
    --white-3: #FFFFFF33;
    --red-1: #FF0000;
    --red-2: #FF00004D;
    --dark-grey: #28272C;
    --grey: #6A6A6A;
    --light-grey-1: #00000066;
    --light-grey-2: #B2B2B2;
    --light-grey-3: #00000040;
    --light-grey-4: #D1D1D1;
}

body {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1088px;
}